"<p>Hello, Anvi!</p>"


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="row mb-1">
    <div class="col-md-4">
        <label for="loan" class="form-label">Loan Amount:</label>
    </div>
    <div class="col-md-8">
        <input type="number" class="form-control" id="loan" name="loan" required value="10000">
    </div>
</div>

<button type="submit" class="btn btn-primary">Predict</button>